<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
            <h5>Login to ServMidMan</h5>
        </div>
        <div class="p-3 d-flex align-items-center justify-content-center">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="p-3 px-4 py-4 border-bottom">
            <form method="post" action="/Authentication/Login">
                <input type="text" class="form-control mb-2" name="Email" placeholder="Email/Username" required />
                <div class="form">
                    <input type="password" class="form-control" name="Password" placeholder="Password" required />
                    @* <a href="#">Forgot?</a> *@
                </div>
                <button type="submit" class="btn btn-danger btn-block continue" style="margin-top:10px">Continue</button>
            </form>

        </div>
        <div class="p-3 d-flex flex-row justify-content-center align-items-center member">
            <span>Not a member? </span>
            <a href="/Authentication/Register" class="text-decoration-none ml-2">Register</a>
        </div>
    </div>
</div>